body {
    grid-template-rows: auto 1em auto 1fr;
}

header {
    z-index: 0;
    grid-row: 1 / 3;
}

/* search bar */

.search {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-row: 2 / 4;
    z-index: 1;
    grid-column: 1;
}

.search button {
    border: none;
    padding: 0.75em 3em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #4B4B4B;
    color: white;
}

.search-input {
    position: relative;
    display: flex;
}

.search-input i {
    position: absolute;
    left: 0.5em;
    top: 25%;
    color: grey;
}

.search-input input[type="text"] {
    background-color: #2E2E2F;
    border: none;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0;
    padding-left: calc(0.5em + 30px);
    color: grey;
    font-size: .875rem;
}

/* main */

main {
    grid-row: 3 / 5;
    padding-top: 2em;
}

#seemore {
    text-align: center;
    color: grey;
}